html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.content {
  height: 100%;
}

.left {
  float: left;
  width: 30%;
  background: blue;
  height: 100%;
  overflow: auto;
}

.right {
  float: left;
  width: 70%;
  background:red;
  height: 100%;
  overflow: auto;
}

.box-parent {
  position: relative;
}

.box-header {
  border: 2px solid black;
  display: grid;
  background: white;
  place-items: center;
  color: black;
  position: fixed;
  padding: 5px;
  bottom: 80%;
  left: 40%;
  width: 20%;
}
