.app {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.column {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.project-list {
  text-align: left;
  display: inline-block;
  margin-top: -5px;
}

a {
  color: white;
}

a::after {
  color: white;
}