.App {
  background-color: black;
  color: cyan;
  margin-left: 10%;
  margin-top: 10%;
  /* background-size: cover;
  background-repeat: no-repeat; */
}

.Links {
  color: cyan;
  margin-top: 25%;
}

a:visited {
  color: cyan;
}

.App-header {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
