@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: unset;
  height: 100%;
  font-family: 'Roboto',
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white
}

a {
  color: white;
}

a::after {
  color: white;
}
