name: CI/CD
run-name: '@${{ github.actor }} ( ${{ github.event_name }} ) : ${{ github.ref_name }}'

defaults:
  run:
    shell: bash

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: set up node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: cache deps
        uses: actions/cache@v4
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}

      - name: install
        run: npm install

      - name: build
        run: npm run build

      - name: setup pages
        uses: actions/configure-pages@v4

      - name: upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist

      - name: deploy to github pages
        uses: actions/deploy-pages@v4
